@font-face {
    font-family: RobotoThin;
    src: url("Roboto.ttf");
}
@font-face {
    font-family: Roboto;
    src: url("Roboto-Regular.ttf");
}
html,body{
	margin:0px;
	padding:0px;
	background-color:rgb(224, 224, 224);
}
header{
	position:fixed;
	margin:0px;
	top:0px;
	width:100%;
	background-color:rgba(30,82,160,1);
	font-family:"Gabriola",Helvetica,Sans-Serif;
	font-size:45px;
	color:white;
	letter-spacing:1px;
	overflow:hidden;
}
#content{
	
	color:black;
	padding-top:90px;
	padding-left:4px;
	padding-right:4px;
	margin-top:10px;
	margin-left:5px;
	margin-right:5px;
	margin-bottom:5px;
	background:linear-gradient(white ,rgb(224,224,224));
}
